/* GLOBAL STYLES */

* {
  box-sizing:                   border-box;
  margin:                       0;

}
html {
    font-size:                  2vw;
}

body {
    width:                      100%;
}
div {
    height:                     15vw;
    text-align:                 center;
}
header, main, section, footer {
    margin:                     0;
}

header {
    display:                    flex;
    flex-direction:             row;
}
main {
    display:                    flex;
    flex-direction:             row;
    height:                     80vw;
}

/* END OF GLOBAL STYLES */

.content {
    background-color:           #878787;
    display:                    inline-block;
    width:                      calc(100% - 1vw);
    height:                     calc(100% - 1vw);
    margin:                     1vw;
    text-align:                 justify;
    overflow:                   hidden;
    padding:                    1vw;
}
.content::-webkit-scrollbar{
    display:none;
}
.box-g .content {
    overflow:                   scroll;
}
.main-left {
    width:                      15vw;
}

.main-center {
    width:                      60vw;
}

.main-right {
    width:                      25vw;
}
.box-a {
    width:                      75vw;
    height:                     15vw;
}

.box-b {
    width:                      25vw;
    height:                     15vw;
}
.box-c {
    height:                     100%;
}
.box-g {
    height:                     50vw;
}
.box-f {
    height:                     30vw;
}
.box-h {
    height:                     50vw;
}
header .content {
    background-color:           #eaff82;
}

.main-left .content {
    background-color:           #e776fe;
}

.main-center .content {
    background-color:           #afffee;
}

.main-right .content {
    background-color:           #f1ffaf;
}
footer .content {
    background-color:           #ffa1a1;
}
