
table {
    border-collapse: collapse;
    box-shadow: 5px 10px 8px rgba(91, 0, 0, 0.44);
}
table tr td {
    border: 1px solid black;
}

.play{
    height: 50px;
    width:  50px;
}
.square_light{
    background-color:  #b8b894;
}
.square_dark{
    background-color:  #2e2e1f;
}
.indicators{
    background-color:  #331100;
    color: #b8b894;
    vertical-align: middle;
    text-align: center;
}
.chess_left{
    width: 15px;
    transform: rotate(270deg);
}
.chess_top{
    height: 15px;
}
.chess_right{
    width: 15px;
    transform: rotate(90deg);
}
.chess_bottom{
    height: 15px;
    transform: rotate(180deg);
}
p {
    margin: 0;
}
.light_pieces{
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: #f5f5f0;
}
.dark_piece{
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: #000;
}
