/* GLOBAL STYLES */

* {
  box-sizing:                   border-box;
}

body{
    margin:                     0 auto;
    width:                      1000px;
    font-family:                'Open Sans', sans-serif;
}
header {
    background-color:           #e7e7e7;
}

footer {
    background-color:           #000;
    height:                     70px;
    margin:                     0;
    vertical-align:             middle;
}

img{
    padding:                    10px;
    float:                      left;
}

nav{
    height:                     inherit;
    float:                      right;
    display:                    inline-block;
    margin-right:               15px;
}

ul{
    display:                    inline-block;
    margin:                     0;
}

li {
    vertical-align:             middle;
    line-height:                100px;
    padding:                    0 10px;
    display:                    inline-block;
}

h2 {
    margin-top:                 0;
}

section{
    display:                    inline-block;
    float:                      left;
    width:                      25%;
}

section:nth-child(3){
    color:                      white;
}

article{
    display:                    inline-block;
    float:                      left;
    width:                      50%;
}

a{
    color:                      #888888;
    text-decoration:            none;
}

p+a{
    color:                      #a531f6;
}

a:hover{
    color:                      red;
}

a:active{
    font-weight:                bold;
}
/* END GLOBAL STYLES */

.clearfix::after {
    content:                    "";
    clear:                      both;
    display:                    table;
}

.main-upper{
    background-color:           #3638ff;
    padding:                    25px;
}

.main-lower{
    background-color:           #3eff63;
    padding:                    25px;
}

.copyrights{
    vertical-align:             middle;
    text-align:                 center;
    line-height:                70px;
    color:                      #fff;
}
