$font-primary:      Helvetica, sans-serif;
$font-secondary:    Georgia, serif;
$color-primary:     rgba(16, 150, 234, 1);
$color-primary-a:   rgba(12, 113, 175, 1);
$color-secondary:   rgba(142, 177, 199, 1);
$color-secondary-a: rgba(182, 189, 193, 1);
$color-text-a:        rgba(252, 254, 255, 1);

$f-size:            16px;
